<!--MADLIB FORM-->
<div class="panel-body">

  <%= form_for [@song, @madlib] do |f| %>
  <div class="form-group">
    <%= f.label "Name your madlib:", class: "control-label" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <legend>Please enter the following word substitutions:</legend>
    <ul>
      <%= f.fields_for :lyrics, @madlib.lyrics.order(id: :asc) do |lyrics_form| %>
        <li>
          <%= lyrics_form.text_field :word %>
          <% if !lyrics_form.object.part_of_speech.nil? %>
            <label><%= lyrics_form.object.part_of_speech %></label>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="form-group">
      <%= f.submit %>
  </div>
  <div class="form-group">
    [ <%= link_to "Cancel request and return to songs listing", root_path %> ]
  </div>
  <% end %>
</div><!-- end panel-body -->
