<!--MADLIB FORM-->
<div class="panel-body">

  <%= form_for [@song, @madlib] do |f| %>
    <%#= f.label "Select Song to Madlib" %><br>
    <%#= f.collection_select(:song_id, Song.all, :id, :name) %>
  <div class="form-group">
    Madlibs:
    <ul>
      <%= f.fields_for :lyrics do |lyrics_form| %>
        <li>
          <%= lyrics_form.text_field :word %>
          <% if !lyrics_form.object.part_of_speech.nil? %>
            <%= lyrics_form.label lyrics_form.object.part_of_speech %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="form-group">
      <%= f.submit %>
  </div>
  <div class="form-group">
    [ <%= link_to "Cancel request and return to songs listing", root_path %> ]
  </div>
  <% end %>
</div><!-- end panel-body -->