<!-- MADLIB SHOW PAGE -->
<body id="madlib-show">

<div align="center" class="jumbotron lights">
  <%= image_tag("lights.gif") %>
  <% if @madlib.name %>
    <h1 class="title"><%= @madlib.name %></h1>
  <% else %>
    <h1 class="title">"No name #<%= @madlib.id %>"</h1>
  <% end %>
  <h3>(to the tune of "<%= @madlib.song.name %>")</h3>
</div> <!-- end page header -->

<div align="center" class="container-fluid well">
  <h3>
    <%= link_to('Edit Madlib', edit_song_madlib_path(@song, @madlib), class: "btn btn-lg btn-danger") %>
  </h3>
  
</div>

<div align="center" class="container">
  <div class="well lyrics">
    <audio controls="controls" src="<%=raw(@madlib.song.audio)%>"></audio>
    <%= simple_format(@new_lines) %>
  </div>
</div>

</body>