<!-- SONG SHOW PAGE -->
<div align="center" class="elf">
  <div class= "container-fluid">
    <h1>
      <span id="behind"><%= @song.name %></span>
    </h1>
  </div>
</div>

<div align="center" class="well">
  <h2>
    <%= link_to("Create New Madlib", new_song_madlib_path(@song)) %>
  </h2>
  <h3>
    <% if @song.madlibs.empty? %>
      (No madlibs created yet)
    <% else %>
      Madlibs already created: 
      <% @song.madlibs.each do |madlib| %>
        <% if madlib.name %>
          <%= link_to('"' + madlib.name + '"', song_madlib_path(@song, madlib)) %>
        <% else %>
          <%= link_to('"No name #' + madlib.id.to_s + '"', song_madlib_path(@song, madlib)) %>  
        <% end %>
      <% end %>
    <% end %>
  </h3>
</div>

<div align="center" class="original-lyrics">
  <h3>Original Lyrics</h3>
  <%= simple_format(@original_lines) %>
</div>

