<!-- SONG SHOW PAGE -->
<h1 align="center" class="jumbotron">
  <%= @song.name %>
</h1>

<div align="center">
  <h2>
    <%= link_to("New Madlib", new_song_madlib_path(@song)) %>
  </h2>
</div>

<div align="center">
  <%= @song.madlibs.each do |madlib| %>
    <%= link_to(madlib.id, song_madlib_path(@song, madlib)) %>
  <% end %>
</div>


<div align="center">
  <h3>Madlib Words</h3>  
  <% if @song.lyrics.any? %>
    <% @song.lyrics.each do |lyric| %>
    <%= "#{lyric.word} | " %>
    <% end %>
  <% end %>
</div>

<div align="center" class="well">
  <h3>Original Lyrics</h3>
  <%= simple_format(@original_lines) %>
</div>

